@charset "utf-8";

/*
common
================================================ */
html {
    font-size: 100%;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    color: #000;
    background-color: #fff;
    line-height: normal;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

.products-container {
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto;
}

.products-topic {
  font-size: 1.375rem;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.products-topic::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #168352 14%, #ddd 14%);
}

.visually-hidden {
  display: none;
}


/* common PC */
@media  (min-width:769px) {

    .products-topic {
      font-size: 1.75rem;
      padding-bottom: 24px;
    }

    .products-topic::after {
      height: 5px;
      background: linear-gradient(to right, #168352 12.5%, #ddd 12.5%);
    }

} /* @media  (min-width:769px) */


/*
header
================================================ */
header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 10;
}

.wrapper--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title img {
  max-width: 197px;
  line-height: 1px;
}

.nav {
  position: fixed;
  top: 62px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,0.9);
  /* 右に隠しておく */
  transform: translateX(100%);
  opacity: 0;
  transition: 0.5s ease;
}

/* openクラスで付けはずし */
.nav.open {
  transform: translateX(0);
  opacity: 1;
}

.nav__list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.nav__item {
  cursor: pointer;
  margin-top: 25px;
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
}

.nav__item--current {
  color: #168352;
}

.nav__item::before {
  content: "";
  display: flex;
  align-items: center;
  width: 45px;
  height: 2px;
  background-color: #168352;
}

.humburgar {
  width: 24px;
  display: flex;
  align-items: center;
}

/* openクラスで付けはずし */
.humburgar.open {
  display: none;
}

/* 閉じるボタンのスタイル */
.nav__close {
  display: none;
  position: relative;
  width: 24px; /* ボタン全体のサイズ */
  height: 24px; /* ボタン全体のサイズ */
  background: none;
  border: none;
  cursor: pointer;
}
.nav__close::before,
.nav__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px; /* ← ここを調整（長くしたいなら数値を大きく）*/
  height: 1.5px; /* ← ここを調整（太くしたいなら数値を大きく）*/
  background-color: #000; /* ← 任意の色に変更 */
  transform-origin: center;
}
.nav__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.nav__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
/* openクラスで付けはずし */
.nav__close.open {
  display: block;
}


/* header PC */
@media  (min-width:769px) {
    header {
      padding: 42px 0;
    }

    .site-title img {
      max-width: 262px;
    }

    .nav {
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
      transform: translateX(0);
      opacity: 1;
    }

    .nav__list {
      max-width: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 40px;
    }

    .nav__item {
      margin-top: 0;
      column-gap: 0;
      font-size: 1rem;
      line-height: normal;
    }

    .nav__item::before {
      display: none;
    }

    .humburgar {
      display: none;
    }

    .nav__close {
      display: none;
    }
    .nav__close::before,
    .nav__close::after {
      display: none;
    }

} /* @media  (min-width:769px) */



/*
subpage-hero
================================================ */
.subpage-hero {
  margin-top: 83px;
}

.subpage-hero__img img {
  width: 100%;
  aspect-ratio: 358 / 230;
  object-fit: cover;
}

.subpage-hero__title {
  margin-top: 32px;
  font-size: 1.875rem;
  font-weight: bold;
}

.subpage-hero__nav {
  margin-top: 32px;
}

.subpage-hero__breadcrumb {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.subpage-hero__breadcrumb-item a {
  font-size: 0.75rem;
}

/* パンくず用矢印の作成 */
.subpage-hero__breadcrumb-item:first-of-type {
  position: relative;
}

.subpage-hero__breadcrumb-item:first-of-type::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-inline: 8px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(-45deg);
  transform-origin: center;
  vertical-align: 1px; /* ← 縦位置を調整 */
}


/* subpage-hero PC */
@media  (min-width:769px) {
    .subpage-hero {
      margin-top: 154px;
    }

    .subpage-hero__wrapper {
      /* subpage-hero__titleの配置のためのposition */
      position: relative;
    }

    .subpage-hero__img img {
      aspect-ratio: 1200 / 550;
      border-radius: 24px;
    }

    .subpage-hero__title {
      margin-top: 0;
      font-size: 2.25rem;
      padding: 39px 36px 40px 40px;
      background-color: #fff;
      line-height: 1;
      border-radius: 0 40px 0 0;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 8;
    }

    .subpage-hero__nav {
      margin-top: 24px;
    }

    .subpage-hero__breadcrumb-item a {
      font-size: 0.75rem;
    }

} /* @media  (min-width:769px) */


/*
accordion-list
================================================ */
.accordion-list {
  max-width: 800px;
  margin: 40px auto 0;
  padding-bottom: 170px;
}

.accordion {
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 24px;
}

.accordion:not(:first-of-type) {
  margin-top: 24px;
}

.accordion summary {
  cursor: pointer;
  list-style: none; /* デフォルトの△を削除 */
}

.accordion__header {
  display: flex;
  flex-direction: column;
}

.accordion__question-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__question-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.label-topicGroup {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.accordion__question-label .label-q {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #168352;
  margin-right: 15px;
}

.accordion__question-label .label-topic {
  width: 100px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6875rem;
  color: #168352;
  border: 1px solid #168352;
  border-radius: 4px;
  margin-right: 8px;
}

.accordion__question-body {
  margin: 8px 0 0 42px;
  font-size: 1.125rem;
  font-weight: bold;
}

.accordion__answer {
  margin-top: 16px;
  font-size: 1rem;
}

/* 開閉時にtransitionをつけるための設定 */
.accordion__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}
.accordion.open .accordion__answer {
  max-height: 122px; /* 十分な高さを指定（実際の内容に応じて調整） */
}


/* ＋－ボタンの共通スタイル */
.accordion__icon {
  position: relative;
  width: 20px;
  height: 20px;
}

/* －ボタンのスタイル */
.accordion[open] .accordion__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: translateY(-50%);
}

/* ＋ボタンのスタイル */
.accordion__icon::before,
.accordion__icon::after {
  content: "";
  position: absolute;
  background-color: #000;
}

.accordion__icon::before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 1.5px;
  transform: translateY(-50%);
}

.accordion__icon::after {
  left: 50%;
  top: 0;
  width: 1.5px;
  height: 100%;
  transform: translateX(-50%);
}


/* accordion-list PC */
@media  (min-width:769px) {
    .accordion-list {
      max-width: 800px;
      margin: 64px auto 0;
      padding-bottom: 72px;
    }

    .accordion {
      border: 1px solid #ccc;
      border-radius: 16px;
      padding: 24px 32px;
    }

    .accordion:not(:first-of-type) {
      margin-top: 24px;
    }

    .accordion summary {
      cursor: pointer;
      list-style: none; /* デフォルトの△を削除 */
    }

    .accordion__header {
      display: flex;
      flex-direction: column;
    }

    .accordion__question-head {
      display: flex;
      justify-content: space-between;
    }

    .accordion__question-label {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .accordion__question-label .label-q {
      font-family: "Montserrat", sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      color: #168352;
      margin-right: 14px;
    }

    .accordion__question-label .label-topic {
      width: 100px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.6875rem;
      color: #168352;
      border: 1px solid #168352;
      border-radius: 4px;
      margin-right: 8px;
    }

    .accordion__question-body {
      margin: 16px 0 0 41px;
      font-size: 1.125rem;
      font-weight: bold;
    }

    .accordion__answer {
      margin-top: 32px;
      font-size: 1rem;
    }

    /* 開閉時にtransitionをつけるための設定 */
    .accordion__answer {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease;
    }
    .accordion.open .accordion__answer {
      max-height: 75px; /* 十分な高さを指定（実際の内容に応じて調整） */
    }


    /* ＋－ボタンの共通スタイル */
    .accordion__icon {
      position: relative;
      width: 20px;
      height: 20px;
    }

    /* －ボタンのスタイル */
    .accordion[open] .accordion__icon::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #000;
      transform: translateY(-50%);
    }

    /* ＋ボタンのスタイル */
    .accordion__icon::before,
    .accordion__icon::after {
      content: "";
      position: absolute;
      background-color: #000;
    }

    .accordion__icon::before {
      top: 50%;
      left: 0;
      width: 100%;
      height: 1.5px;
      transform: translateY(-50%);
    }

    .accordion__icon::after {
      left: 50%;
      top: 0;
      width: 1.5px;
      height: 100%;
      transform: translateX(-50%);
    }

} /* @media  (min-width:769px) */


/*
footer
================================================ */
footer {
  padding: 24px 16px;
  background-color: #168352;
}

.footer-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-nav__item a {
  font-size: 0.8125rem;
  color: #fff;
}

.footer-nav__item {
  height: 20px;
  display: flex;
  align-items: center;
}

.footer-nav__item:first-of-type {
  padding-right: 16px;
  border-right: 1px solid #fff;
}

.footer-nav__item:last-of-type {
  padding-left: 16px;
}


/* footer PC */
@media  (min-width:769px) {
    footer {
      padding: 36px 16px;
    }

    .footer-nav__item a {
      font-size: 0.9375rem;
    }

    .footer-nav__item {
      height: 24px;
    }

    .footer-nav__item:first-of-type {
      padding-right: 22px;
    }

    .footer-nav__item:last-of-type {
      padding-left: 22px;
    }

} /* @media  (min-width:769px) */
